<html>
{% extends "base.html" %}
{% block content %}
<div class="category-block">
	<div class="category-header">
		<h3 class="category-text">Around the House</h3>
	</div>
	<table class="table table-hover">
		<tbody id='houseTableBody'>
			{% for question in houseQuestions %}
			<tr>
				<td class="show-all-info-item">{{ question.type }} {{ question.subject }}?</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<div class="category-block">
	<div class="category-header">
		<h3 class="category-text">In the Area</h3>
	</div>
		<table class="table table-hover">
		<tbody id='areaTableBody'>
			{% for question in areaQuestions %}
			<tr>
				<td class="show-all-info-item">{{ question.placeName }} ({{ question.category }}), {{ question.distance }} miles</td>
			</tr>
			{% endfor %}
	</tbody>
</div>

{% endblock %}
</html>