<html>
<title>hostR help</title>
{% extends "base.html" %}
{% block content %}
<div class="container">
	<h1>Frequently asked questions</h1>
	<h3 class="question">How do I add information about my home?</h3> 
	<p>Go back to the main page, click on "Around the House," and select "Add Question." Some example questions you might want to add about your home include:</p>
	<ul>
		<li>What is the WiFi password?</li>
		<li>How do I use the Apple TV?</li>
		<li>Where are the extra towels?</li>
		<li>How do I unlock the garage?</li>
	</ul>
	<h3 class="question">How do I add recommendations for things to do in the neighborhood?</h3> 
	<p>Go back to the main page, click on "In The Area," and select one of the six categories you would like to add a recommendation in.</p>
	<h3 class="question">Is my information secure?</h3>
	<p>The information you add to hostR is private and is linked to your account. Consequently, your information and is only accessible to individuals who have access to your Amazon account and/or your Amazon Echo. Never add sensitive information to hostR, however. Some examples of information you should never add include:
	<ul>
		<li>Your bank account number</li>
		<li>Your social security number</li>
		<li>Your birthday</li>
	</ul>
</div>
{% endblock %}